.rawtemp1{
    display: grid;
    grid-template-columns: (2,1fr);
}
.rawtempit1{
    text-align: center;
    background-color: thistle;
    border: 5px solid white;
    transition: 1s ease;
}
.code-editor{
    height: 100px;
}