/* *{
    margin: 0; 
    padding: 0 ;
} */
nav{
    display: flex;
    list-style-type: none;
    background-color:rgb(121, 198, 233);
    height: 100px;
    justify-content: space-evenly;
    
}
.hoverapp{
    top: 100%;
    left: 0;
    list-style-type: none;
    display: none;
}
.hov:hover .hoverapp{
    display: block;
}

