/* *{
    margin: 0; 
    padding: 0 ;
} */
.spa:hover{
    background-color:wheat;
    height: 20px;
    border-radius: 10px;
}
nav{
    display: flex;
    list-style-type: none;
    background-color:rgb(121, 198, 233);
    height: 20px;
    justify-content: space-between;
    padding: 10px;
}

.link{
    text-decoration: none;
    color:navy;
}
li{
    color: navy;
    padding:5px;
}
li:hover{
    background-color:wheat;
    height: 20px;
    border-radius: 10px;
}
.dropdown{
    padding: 0;
}
.dropdown-list{
    position: absolute;

    top: 20px;
    list-style-type: none;
    background-color: cornflowerblue;
    border-radius: 10px;
    align-content: left;
}


